/**
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Modified : Guilherme Oliveira (rapoelho)
 * Github 	: @rapoelho
 * 
 * nippyRofi Theme : Launcher
 **/

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun,run,window";
    show-icons:                 true;
    display-drun:               "APPS";
    display-run:                "RUN";
    display-window:             "WINDOW";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
}

/*****----- Global Properties -----*****/

@import                          "shared/colors.rasi"
@import                          "shared/common.rasi"

/*****----- Main Box -----*****/
imagebox {
    children:                    [ "inputbar", "dummy", "mode-switcher" ];
}
