/**
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Modified : Guilherme Oliveira (rapoelho)
 * Github 	: @rapoelho
 * 
 * nippyRofi Theme: Music Rofi
 **/


/*****----- Global Properties -----*****/

@import                          "shared/colors.rasi"
@import                          "shared/common.rasi"


imagebox {
    children:                    [ "dummy", "inputbar" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    children:                    [ "textbox-prompt-colon", "prompt"];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         " MPRIS";
    padding:                     15px;
    border-radius:               5px;
    background-color:            @background-alt;
    text-color:                  @foreground;
}
prompt {
    enabled:                     true;
    padding:                     15px;
    border-radius:               5px;
    background-color:            @background-alt;
    text-color:                  @foreground;
}

/*****----- Listview -----*****/
listview {
    lines:                       7;
}
