@import							 "catppuccin-mocha.rasi"

* {
    background:     @base;
    background-alt: @crust;
    foreground:     @text;
    selected:       #f5e0dc;
    active:         #d20f39;
    urgent:         #f5e0dc;
}
