@import							 "catppuccin-mocha.rasi"

* {
    background:     @base;
    background-alt: @crust;
    foreground:     @text;
    selected:       #94e2d5;
    active:         #04a5e5;
    urgent:         #94e2d5;
}
